<ion-view view-title="Credit card details" hide-back-button="true" hide-nav-bar="true">
  <ion-content>
    
<!-- <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Card Holder Name">
		  </label>
		</div>
	</div>

	<div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="number" placeholder="Credit Card Number">
		  </label>
		</div>
	</div>


	</div>
	  

	<div class="row">
		<div class="col col-50">
			<label class="item item-input">
		    <input type="text" placeholder="Expiry Date">
		  </label>
		</div>

		<div class="col col-50">
			<label class="item item-input">
		    <input type="number" placeholder="CCV">
		  </label>
		</div>
	</div>

	</div>

	<div class="row">
		<div class="col">
   	<a href="#/app/settings">
    	<button class="button button-block button-light">
				Save
			</button>
		</a>
		</div>
	</div> -->


	<div class="bar bar-header bar-light">
	  <h1 class="title">Add Credit card Info</h1>
	</div>

	<div style="height:80px;"></div>

	<div class="row">
		<div class="row">
			<a href="#" onclick="openPayment()">
				<button class="button button-block button-light">Add Payment Card</button>
			</a>
		</div>
	</div>

	<div class="row">
		<a href="#/app/landing">
			<button class="button button-block button-positive">
				only on success >> go to landing page
			</button>
		</a>
	</div>

  </ion-content>
</ion-view>
