<ion-view view-title="Help">
  <ion-content>
 
  <div class="row">
		<div class="col">
	    <div class="list">
	    	<h3>Need help? Call us</h3>

	    	<br/><br/><br/>
	    	

			  <!-- <div class="item range range-positive">
			    <i class="icon ion-ios7-sunny-outline"></i>
			    <input type="range" name="volume" min="0" max="100" value="33">
			    <i class="icon ion-ios7-sunny"></i>
			  </div> -->
			</div>
  	</div>
	</div>

	<div class="list locations">

	  <div class="item item-button-right">
	    <span>Rondebosch</span>
	    <span>1.1km away</span>
	    <a href="tel:+27216869007">
	    <button class="button button-light">
	      <i class="icon ion-ios7-telephone"></i>
	    </button>
	    </a>
	  </div>

	  <div class="item item-button-right">
	    <span>Wynberg</span>
	    <span>1.1km away</span>
	    <a href="tel:+27217979980">
	    <button class="button button-light">
	      <i class="icon ion-ios7-telephone"></i>
	    </button>
	    </a>
	  </div>

	  <div class="item item-button-right">
	    <span>City Bowl</span>
	    <span>1.1km away</span>
	    <a href="tel:+27214623344">
	    <button class="button button-light">
	      <i class="icon ion-ios7-telephone"></i>
	    </button>
	    </a>
	  </div>

	  <div class="item item-button-right">
	    <span>N1 City</span>
	    <span>1.1km away</span>
	    <a href="tel:+27215593939">
	    <button class="button button-light">
	      <i class="icon ion-ios7-telephone"></i>
	    </button>
	    </a>
	  </div>

	  <div class="item item-button-right">
	    <span>Bellville</span>
	    <span>1.1km away</span>
	    <a href="tel:+27219488888">
	    <button class="button button-light">
	      <i class="icon ion-ios7-telephone"></i>
	    </button>
	    </a>
	  </div>

	  <div class="item item-button-right">
	    <span>Table View</span>
	    <span>1.1km away</span>
	    <a href="tel:+27215578899">
	    <button class="button button-light">
	      <i class="icon ion-ios7-telephone"></i>
	    </button>
	    </a>
	  </div>

	  <div class="item item-button-right">
	    <span>Newlands</span>
	    <span>1.1km away</span>
	    <a href="tel:+27216863333">
	    <button class="button button-light">
	      <i class="icon ion-ios7-telephone"></i>
	    </button>
	    </a>
	  </div>

	</div>


  </ion-content>
</ion-view>
