<ion-view view-title="Home">
  <ion-content>

	  <div class="row">
			<div class="col">

				<!-- <a href="#">
					<button class="button button-block button-light">Pizza Menu</button>
				</a> -->

				<!-- <a href="#">
					<button class="button button-block button-light">Call Newlands</button>
				</a> -->

				<a href="#/app/pay-now">
					<button class="button button-block button-light">Make Payment</button>
				</a>

				<a href="#/app/history">
					<button class="button button-block button-light">Payment History</button>
				</a>

				<!-- <a href="#">
					<button class="button button-block button-light">Customer Care</button>
				</a> -->

				<a href="#/app/settings">
					<button class="button button-block button-light">Settings</button>
				</a>

			</div>
		</div>

  </ion-content>
</ion-view>
