<ion-view view-title="One Time Pin" hide-back-button="true" hide-nav-bar="true">
  <ion-content>


	<div class="bar bar-header bar-light">
	  <h1 class="title">One Time Pin</h1>
	</div>

	<div style="height:80px;"></div>
 
	<div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Add One Time Pin">
		  </label>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<a href="#/app/welcome-personal-info">
				<button class="button button-block button-positive">
					GO >>
				</button>
			</a>
		</div>
	</div>



  </ion-content>
</ion-view>
