<ion-view view-title="Response">
  <ion-content>

  <div class="row">
		<div class="col">
	    <button class="button button-full button-balanced">
			  Payment was successful <i class="icon ion-checkmark"></i>
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col">
	    <button class="button button-full button-assertive">
			  Payment was declined <i class="icon ion-close"></i>
			</button>
		</div>
	</div>
    
	<div class="row">
		<div class="col">
			<a href="#/app/history">
	    	<button class="button button-block button-light">
			  	View Transaction History
				</button>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<a href="#/app/help">
	    	<button class="button button-block button-light">
			  	Need help button?
				</button>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<a href="#/app/landing">
	    	<button class="button button-block button-light">
			  	Home
				</button>
			</a>
		</div>
	</div>

  </ion-content>
</ion-view>
