<ion-view view-title="Settings">
  <ion-content>
 
<div class="row">
	<div class="col">
	<a href="#/app/personal-info">
		<button class="button button-block button-light">
		Personal Info
		</button>
	</a>
	</div>
</div>


<div class="row">
	<div class="col">
	<a href="#/app/saved-cc">
		<button class="button button-block button-light">
		Card Details
		</button>
	</a>
	</div>
</div>

<!-- <div class="row">
	<div class="col">
	<a href="#">
		<button class="button button-block button-light">
		Pin Code
		</button>
	</a>
	</div>
</div> -->

<div class="row">
		<div class="col">
			<a href="#/app/landing">
	    	<button class="button button-block button-light">
			  	Home
				</button>
			</a>
		</div>
	</div>


  </ion-content>
</ion-view>
