<ion-view view-title="User Details" hide-back-button="true" hide-nav-bar="true">
  <ion-content>


	<div class="bar bar-header bar-light">
	  <h1 class="title">Add Info</h1>
	</div>

	<div style="height:80px;"></div>
 
	<div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Name">
		  </label>
		</div>
	</div>

	  <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Surname">
		  </label>
		</div>
	</div>

	  <div class="row">
		<div class="col">
		  <label class="item item-input">
		    <input type="text" placeholder="Mobile">
		  </label>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<a href="#/app/one-time-pin">
				<button class="button button-block button-positive">
					GO >>
				</button>
			</a>
		</div>
	</div>



  </ion-content>
</ion-view>
